.errorsContainer{
    color: red;
}


#titleInput{
    width: 300px !important;
    height: 3rem;
    margin: .5rem;
    font-size: 20px;
    border-radius: 1px solid var(--rh-dark-base2) ;
    background-color: black;
    color: white;
}
.createWatchlistForm{
    display: flex;
    justify-content: center;
}
.create-watchlist-container .modal-content{
    background-color: var(--rh-dark-base);
    border: 1px solid var(--rh-dark-base2);
    border-radius: 5px;
    padding: 1rem;
}

.create-watchlist-container .button {
    background-color: black;
    color: white;
    padding: 0.5rem;
    height: 3rem;
    width: 8rem;
    border: 1px solid var(--rh-dark-base2);
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.create-watchlist-container h4 {
    color: white;
    font-size: 1.2rem;
}

#submitCreateWatchlist{
    width: 8rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    background-color: var(--rh-dark-base);
    border: 1px solid var(--rh-dark-base2);
    padding: 5px;
    color: white;
    height: 3rem;
    cursor: pointer;
}

#submitCreateWatchlist:hover {
    background-color: var(--rh-dark-base2)
}
