.deleteWatchlist{
    background-color: var(--rh-red-base);
    height: fit-content !important;
    margin-bottom: 10px;
    width: fit-content !important;
    right: 0px;
    position: absolute;
    top: 0px;
}
.deleteWatchlist:hover{
    background-color: var(--rh-red-hover);
}
.deleteWatchlist:active{
    background-color: var(--rh-red-pressed);
    border-bottom: 2px solid black
}

.stock:hover{
    color: var(--rh-green-hover)
}
.stock:active{
    color: var(--rh-green-pressed);
}

.createWatchlistButton{
    height: 30px;
    width: 90px;
    padding: 1px;
    border-radius: 8px;
    background-color: black;
    color: white;
}
.createWatchlistButton:hover{
    color: var(--rh-green-hover);

}

.notActiveWatchlist{
        padding: 0;
        overflow: hidden;
        height: 40px;
}

.notActiveWatchlist:hover{
    background-color: var(--rh-dark-hover);
}

.activeWatchlist{
    height: fit-content;
    display: flex;
}

.editWatchlist{
    width: 30px;
    height: 20px;
    padding-bottom: 10px;
}



.testing{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: hidden;
}

.watchlistContainer{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
}


.watchList{
padding-left: 0px;
position: relative;
bottom: 10px;
cursor: pointer;
}

.nameAndMenuIcon{
    padding-bottom: 15px;
}


.editWatchlist{
    width: 55px !important;
    background-color: red;
    position: absolute;
    right: 55px;
    top: 0;
    height: 22px;
}

.removeStockFromList{
    width: fit-content !important;
}

.removeStockFromList:hover{
    color: var(--rh-red-hover);
}
.watchlistStockContainer{
    display: flex;
    width: 100px;
}

.watchlistStockContainer:hover{
    background-color: var(--rh-dark-base)
}
.leftSide{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 24px;
}

.outerDiv{
    width: 273px !important;
}

.menuSpan{
    cursor: pointer;
}
.menuSpan:hover{
    color: var(--rh-green-hover)
}
