.aboutContainer{
    position: relative;
    width: 100%;
    height: 58px;
    display: inline-block;
    vertical-align:top;
    background-color: black;
    margin-top: 194px;
}

.linkedin,
.github{
  font-size: 30px;
  background-color: transparent;
  margin-left: 20px;
  color: green;
}

.linkedin:hover,.github:hover{
    color: orange;
}
