.dashboardContainer {
  padding-top: 36px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.leftContainer {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardContainer .portfolioValue {
  font-size: 32px;
  height: 40px;
}

.priceChange {
  font-size: 13px;
  padding: 6px 0;
}

.priceChange .timeFrame {
  color: var(--rh-dark-base2)
}

.graphContainer {
  margin: 10px 0;
  /* background-color: black;
  color: black; */

}

.buyingPowerContainer {
  border-radius: 4px;
  padding: 0 24px;
  margin: 0 -24px;
}

.bpHeader, .bpDetails>div {
  padding: 24px 0;
}

.bpHeader, .cash {
  border-bottom: 1px solid var(--rh-dark-border);
}

.bpHeader, .cash, .power {
  display: flex;
  justify-content: space-between;
}

.bpHeader {
  font-size: 15px;
  font-weight: 700;
}

.bpBody {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.bpDetails {
  min-width: 45%;
  display: flex;
  flex-direction: column;
}

.bpMessage {
  padding: 24px;
  padding-left: 36px;
  line-height: 24px;
}

.buyingPowerContainer:hover, .buyingPowerContainer.selected {
  background-color: var(--rh-dark-base);
}

.bpHeader:hover {
  cursor: pointer;
}

.deposit {
  margin-top: 24px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
}

.rightWrapper {
  position: relative;
  width: 275px;
  max-height: calc(100vh - 148px);
}

.rightContainer {
  width: inherit;
  max-height: inherit;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  background-color: var(--rh-dark-base);
  border: 1px solid var(--rh-dark-border);
  border-radius: 4px;
  position: fixed;
}

.rightContainer::-webkit-scrollbar {
  display: none;
}

.rightContainer * {
  width: 100%;
}

.listTitle, .stockContainer {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listTitle {
  height: 52px;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid var(--rh-dark-border);
}

.stockContainer {
  height: 60px;
}

.stockContainer:hover {
  cursor: pointer;
  background-color: var(--rh-dark-hover);
}

.stockDetails, .stockQuote {
  display: flex;
  flex-direction: column;
}

.stockQuote {
  text-align: right;
}

.stockSymbol {
  line-height: 20px;
  font-size: 13px;
  font-weight: 700;
}

.stockCount, .stockPrice, .stockChange {
  line-height: 20px;
  font-size: 13px;
}

.stockChange.red {
  color: var(--rh-red-base)
}

.stockChange.green {
  color: var(--rh-green-base)
}
